<div id="app">
  <nav>
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <svg lucideHome class="lucide-icon"></svg>
    </a>
    <a routerLink="/notes" routerLinkActive="active-link">
      <svg lucideScrollText class="lucide-icon"></svg>
    </a>
    <a routerLink="/movies" routerLinkActive="active-link">
      <svg lucidePopcorn class="lucide-icon"></svg>
    </a>
    <a routerLink="/books" routerLinkActive="active-link">
      <svg lucideBook class="lucide-icon"></svg>
    </a>
    <a routerLink="/records" routerLinkActive="active-link">
      <svg lucideMusic class="lucide-icon"></svg>
    </a>
    <a routerLink="/strava" routerLinkActive="active-link">
      <svg lucideActivity class="lucide-icon"></svg>
    </a>
  </nav>
  <div id="page">
    <router-outlet></router-outlet>
  </div>
  <Footer></Footer>
</div>
