<div id="app">
  <nav>
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <lucide-icon name="home" class="lucide-icon"></lucide-icon>
    </a>
    <a routerLink="/movies" routerLinkActive="active-link">
      <lucide-icon name="popcorn" class="lucide-icon"></lucide-icon>
    </a>
    <a routerLink="/thoughts" routerLinkActive="active-link">
      <lucide-icon name="book" class="lucide-icon"></lucide-icon>
    </a>
    <a routerLink="/records" routerLinkActive="active-link">
      <lucide-icon name="music" class="lucide-icon"></lucide-icon>
    </a>
  </nav>
  <div id="page">
    <router-outlet></router-outlet>
  </div>
  <Footer></Footer>
</div>
