<section class="records-intro">
    <p>Records</p>
    <span>Mijn vinyl collectie. In de toekomst wellicht met ratings en links naar streamingsdiensten. Voor nu, enjoy 🤟</span>
</section>

<section class="records-grid">
    <div *ngFor="let record of records; let i = index" class="record">
        <p>{{ record.artist }}</p>
        <span>{{ record.albumName }}</span>
        <img [src]="record.coverArt" alt="{{ record.albumName }}" class="cover-art" (load)="setImageLoaded(i)"/>
        <Icon *ngIf="!imageLoaded[i]" class="img-placeholder loader" feather-icon="loader"></Icon>
        <a *ngIf="record.musicUrl" [href]="record.musicUrl" target="_blank" class="music-button">Listen Now</a>
    </div>
</section>