<section class="intro">
  <p class="page-header">Records</p>
  <span>A fragment of my vinyl collection. Still figuring out how to auto-update this page... Fow now, enjoy 🤟</span>
</section>

<section class="records-grid">
  @for(record of records; track record.albumName; let i = $index) {
  <div class="record">
    <p>{{ record.artist }}</p>
    <span>{{ record.albumName }}</span>
    <img [hidden]="!imageLoaded[i]" [src]="record.coverArt" alt="{{ record.albumName }}" class="cover-art" (load)="setImageLoaded(i)" />
    @if(!imageLoaded[i]) {
    <app-loader></app-loader>
    } @if(record.musicUrl) {
    <a [href]="record.musicUrl" target="_blank" class="music-button">Listen Now</a>
    }
  </div>
  }
</section>
