section.records-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: var(--xs-spacing);
}

.record {
  display: flex;
  flex-direction: column;
  gap: var(--xs-spacing);
  padding: var(--xs-spacing);
  background-color: var(--elevated);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  transition: var(--transition);
}
.record:hover {
  cursor: pointer;
  filter: brightness(95%);
  transform: translateY(-2px);
}

.record span,
.record p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.record img {
  border-radius: var(--radius);
  aspect-ratio: 1 / 1;
}
