.skeleton {
  width: 100%;
  color: var(--text);
  display: flex;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: rotate 1.5s linear infinite;
}
