:host {
    color: var(--text2);
    margin-top: var(--xl-spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--s-spacing)
}

#charizard {
    width: 40px;
    height: auto;
}