/* Settings */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lora&display=swap');
* { font-family: 'Inter', sans-serif;}
/* font-family: 'Lora', serif; */

html { background-color: var(--almost-white);}

/* Variables */
:root {
    --black: #000000;
    --white: #ffffff;
    --almost-black: #1d1d1d;
    --dark-stroke: #282828;
    --almost-white: #fafafa;
    --stroke: #e4e4e4;
    --kinda-grey: #888888;
    /* typography */
    --heading: 2rem;
    --subheading: 1.25rem;
    --body: 1rem;
    --span: .875rem;
    /* weights */
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    /* spacing */
    --xs-spacing: 8px;
    --s-spacing: 16px;
    --m-spacing: 24px;
    --l-spacing: 40px;
    --xl-spacing: 64px;
    --huge-spacing: 8rem;
}

.intergrin, .netlify {
    color: var(--kinda-grey);
}

.intergrin:hover {
    color: #8694C6;
    cursor: pointer;
}

.netlify:hover {
    color: #30AAB0;
}

/* General styling */
html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 4rem 0;
    max-width: 994px;
    margin: 0 auto;
}

h1 {
    font-size: var(--heading);
    font-weight: var(--semibold);
    margin: 0;
  }
  
h2, h3 {  /* since we only use headings and subheadings, the h3 is the same as h2... */
    font-size: var(--subheading);
    font-weight: var(--semibold);
    margin: 0;
}
  
p {
    font-size: var(--body);
    font-weight: var(--regular);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2, h3, p, a {
    font-synthesis: none
}

.socials {
    display: flex;
    gap: var(--xs-spacing);
    margin-top: var(--s-spacing);
}

.feather {
    margin-right: .5rem;
    height: 16px;
    width: 16px;
    color: var(--kinda-grey);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 6px;
    border: 1px solid var(--stroke);
    background-color: var(--white);
    padding: 12px 16px;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

.button:hover {
    cursor: pointer;
    filter: brightness(98%);
}

.button:focus {
    opacity: .8;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
    margin-top: 2rem;
}

.grid-item {
    background-color: var(--white);
    height: calc(100% - 2rem);
    padding: 1rem;
    border: 1px solid var(--stroke);
    border-radius: 8px;
    transition: all .3s ease-in-out;
}

.grid-item h3 {
    font-family: 'Lora', serif;
    margin-top: 12px;
}

.grid-item p {
    color: var(--kinda-grey);
    padding-top: var(--xs-spacing);
}

.grid-item:hover {
    transform: translateY(-5px);
}

.grid img {
    height: 100vh;
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

header {
    max-width: 75%;
}

header h1 {
    font-family: 'Lora', serif; 
    font-weight: 400;
    margin: 0 0 12px 0;
}

header p {
    color: var(--kinda-grey);
}

/* Darkmode */
@media (prefers-color-scheme: dark) {
    html { background-color: var(--black); }
    h1, h2, h3, p { color: var(--almost-white);}
    .grid-item { background-color: var(--almost-black); border: 1px solid var(--dark-stroke);}
    .button { background-color: var(--almost-black); color: var(--almost-white); border: 1px solid var(--dark-stroke);}
}

/* Responsivness */
@media only screen and (max-width: 600px) {
    body {
        padding: 4rem 16px;
    }
    header {
        max-width: 100%;
    }
}