:host {
    background-color: var(--white);
    height: calc(100% - 2rem);
    padding: 1rem;
    border: 1px solid var(--stroke);
    border-radius: 8px;
    transition: .4s var(--squish) all;
}

:host h3 {
    font-family: 'Lora', serif;
    margin-top: 12px;
}

:host p {
    color: var(--kinda-grey);
    padding-top: var(--xs-spacing);
}

:host:hover {
    transform: translateY(-5px);    
}

@media (prefers-color-scheme: dark) {
    :host { background-color: var(--almost-black); border: 1px solid var(--dark-stroke);}
}