<p class="now">
  Building things for the internet at
  <a class="link" target="_blank" href="https://www.secretninjas.nl/">Secret ninjas</a>
</p>
<p class="now">
  Previously build an ai-toolkit for consultants at
  <a class="link" target="_blank" href="https://precedence.nl/">Precedence</a>. Before that I
  redesigned healthcare software for
  <a class="link" target="_blank" href="https://phitaal.nl/">Phitaal</a>.
</p>

<p class="past">
  Spending my free time brewing v60 coffee,
  <a class="link" href="/strava">riding my bike</a>,
  <a class="link" href="/movies">watching movies</a>,
  <a class="link" href="/books">reading books</a> and
  <a class="link" href="/records">listening to my records</a>.
</p>
