:host {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing);
  margin: var(--m-spacing) 0;
  line-height: 1.6;
}

.name {
  font-weight: var(--medium);
}

p {
  font-size: 18px;
}

.past,
:host .highlighted,
.name {
  color: var(--text);
}

.now,
.past,
.link {
  color: var(--text2);
}

.link {
  transition: all 0.3s ease-in-out;
  text-decoration-color: var(--text2);
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.link:hover {
  text-decoration-color: var(--text);
}
