<p class="name">Jordi Hoven</p>
<p class="now">
  Product ontwikkelaar, momenteel bezig met het bouwen van digitale producten bij
  <a class="link" href="https://intergrin.nl" target="_blank">Intergrin</a>
</p>
<p class="past">
  In mijn vrije tijd <a class="link" href="https://www.youtube.com/watch?v=AI4ynXzkSQo&pp=ygURamFtZXMgaG9mZm1hbiB2NjA%3D" target="_blank">brouw ik v60 koffie</a>, kijk ik bijna
  dagelijks <a href="https://www.imdb.com/user/ur67890438/ratings?ref_=nv_usr_rt_4" target="_blank" class="link">een film</a>, dabble ik in
  <a class="link" href="https://nl.wikipedia.org/wiki/Calisthenics" target="_blank">calisthenics</a> en ben ik geobsedeerd met
  <a href="https://dailystoic.com/what-is-stoicism-a-definition-3-stoic-exercises-to-get-you-started/" target="_blank" class="link">stoicisme</a>.
</p>
