:host {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing);
  margin-bottom: var(--l-spacing);
  line-height: 1.6;
}

.name {
  color: var(--dark-grey);
  font-weight: var(--medium);
}

.now {
  color: var(--kinda-grey);
}

.past {
  color: var(--kinda-grey);
}

:host .highlighted {
  color: var(--dark-grey);
}

.link {
  color: var(--kinda-grey);
  transition: all 0.3s ease-in-out;
  text-decoration-color: var(--stroke);
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
  /* webkit text-decorations */
  -webkit-text-decoration-color: var(--stroke);
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
  -webkit-text-decoration-thickness: 1px;
}

.link:hover {
  text-decoration: var(--dark-grey) wavy underline;
  color: var(--dark-grey);
}
