<p class="now">Building things for the internet at <a class="link" target="_blank" href="https://www.secretninjas.nl/">Secret ninjas</a></p>
<p class="now">
  Previously build an ai-toolkit for consultants at <a class="link" target="_blank" href="https://precedence.nl/">Precedence</a>. Before that I redesigned healthcare software for
  <a class="link" target="_blank" href="https://phitaal.nl/">Phitaal</a>.
</p>

<p class="past">
  Spending my free time brewing v60 coffee,
  <a class="link" href="https://www.strava.com/athletes/52211598" target="_blank">riding my bike</a>, watching movies, reading books and listening to records.
</p>
