.book-item {
  display: flex;
  gap: var(--xs-spacing);
  align-items: center;
  background-color: var(--background2);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  overflow: hidden;
  transition: var(--transition);
}

.book-item:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: var(--shadow);
}

.book-item img {
  height: 10em;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.book-item .cover-wrapper {
  background-color: var(--border);
  padding: var(--s-spacing) var(--m-spacing);
}

.book-grid {
  display: grid;
  gap: var(--s-spacing);
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing);
  padding: 0 var(--s-spacing);
}

.book-details .review,
.book-details .title {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
