:host {
  background-color: var(--background2);
  padding: 12px;
  border: 1px dashed var(--border);
  border-radius: 8px;
  transition: 0.4s var(--squish) all;
}

:host p {
  color: var(--text2);
}

:host:hover {
  background-color: var(--elevated);
}

:host:active {
  transform: scale(0.993);
}

:host a {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-header {
  display: flex;
  gap: var(--xs-spacing);
  align-items: center;
}

.card-header p {
  color: var(--text);
  font-weight: var(--medium);
}
