<header data-sal="slide-up" data-sal-duration="300">
  <h1>jordi hoven —</h1>
  <p>Product Designer, momenteel bezig met het ontwerpen van producten bij <a class="intergrin" href="https://intergrin.nl" target="_blank">Intergrin</a></p>
  <div class="socials">
      <a href="https://www.instagram.com/jordidotdesign/" target="_blank" class="button">
          <i class="feather" data-feather="instagram"></i>
          Instagram
      </a>
      <a href="mailto:hovenjordi@gmail.com" class="button">
          <i class="feather" data-feather="mail"></i>
          Stuur Bericht
      </a>
  </div>
</header>
<main data-sal="slide-up" data-sal-duration="300" class="grid">
  <a href="https://gonnacatchemall.netlify.app/" class="grid-item PokeApi">
      <img src="../assets/pokeapi.png">
      <h3>Angular PokeApi</h3>
      <p>De Angular Tour of Heroes, maar dan met Pokemons.</p>
  </a>
  <a href="https://drinkz.nl" class="grid-item drinkz.nl">
      <img src="../assets/drinkz-demo.gif">
      <h3>Drinkz.nl</h3>
      <p>Een digitale slijterij. Shopify eCommerce.</p>
  </a>
  <a href="https://imdbscraper.netlify.com/" class="grid-item imdb">
      <img src="../assets/scraper-demo.gif" alt="IMDb scraper demo video">
      <h3>IMDb Scraper</h3>
      <p>De bekende filmbibliotheek, in een versimpeld jasje.</p>
  </a>
  <a href="https://github.com/jordihoven/storefront" class="grid-item storefront">
      <img src="../assets/storefront-demo.gif" alt="placeholder img">
      <h3>Shopify Storefront</h3>
      <p>Een Headless Shopify door Storefront API.</p>
  </a>
  <a href="https://github.com/jordihoven/herkennenSlaappatronen" class="grid-item matlab">
      <img src="../assets/matlab.png" alt="een dag aan bewegingsdata">
      <h3>Slaap AI</h3>
      <p>Het voorspellen van slaappatronen met een accelerometer en Matlab.</p>
  </a>
</main>