<a class="link" href="assets/cv-jordihoven.pdf" download target="_blank">
  <Icon feather-icon="file-text"></Icon>
  CV
</a>
<a class="link" href="https://www.instagram.com/jordidotdesign/" target="_blank">
  <Icon feather-icon="instagram"></Icon>
  Instagram
</a>
<a class="link" href="https://github.com/jordihoven" target="_blank">
  <Icon feather-icon="github"></Icon>
  GitHub
</a>
<a class="link" href="mailto:jordi@jordihoven.nl" target="_blank">
  <Icon feather-icon="mail"></Icon>
  Mail
</a>
