<a class="link" href="https://read.cv/jordihoven" target="_blank">
    <Icon feather-icon="file-text"></Icon>
    CV
</a>
<a class="link" href="https://www.instagram.com/jordidotdesign/" target="_blank">
    <Icon feather-icon="instagram"></Icon>
    Instagram
</a>
<a class="link" href="https://github.com/jordihoven" target="_blank">
    <Icon feather-icon="github"></Icon>
    GitHub
</a>
<a class="link" href="mailto:hovenjordi@gmail.com" target="_blank">
    <Icon feather-icon="mail"></Icon>
    Mail
</a>