section.thoughts-intro {
  margin-bottom: var(--m-spacing);
}
section.thoughts-intro p {
  margin-bottom: var(--xs-spacing);
}

.md p {
  margin-bottom: var(--xs-spacing) !important;
}

/* thoughts styling */

.thoughts-list {
  display: flex;
  flex-direction: column;
  gap: var(--xs-spacing);
}

.thought {
  background-color: var(--elevated);
  border-radius: var(--radius);
  padding: 6px 12px;
  transition: var(--transition);
}

.thought:hover {
    cursor: pointer;
}
