@if (loading) {
  <div class="loader-wrap">
    <app-loader></app-loader>
  </div>
} @else {
  <div
    class="viewport"
    [class.dragging]="isDragging"
    (mousedown)="onMouseDown($event)"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd()"
    (click)="onViewportClick()"
  >
    <div
      class="canvas"
      [class.smooth]="isAnimating && !isDragging"
      [style.transform]="canvasTransform"
    >
      @for (tile of cachedTiles; track tileTrack($index, tile)) {
        @for (item of items; track $index) {
          <div
            class="card card-{{ item.type }}"
            [class.focused]="isFocusedCopy($index, tile.col, tile.row)"
            [class.dimmed]="focusedIndex !== null && !isFocusedCopy($index, tile.col, tile.row)"
            [style.left.px]="positions[$index]?.x + tile.col * tileW"
            [style.top.px]="positions[$index]?.y + tile.row * tileH"
            [style.--card-scale]="getCardScale($index)"
            [style.--card-rotation]="getCardRotation($index)"
            [style.z-index]="isFocusedCopy($index, tile.col, tile.row) ? 10 : 1"
            (click)="onCardClick($event, $index, tile.col, tile.row)"
          >
            @switch (item.type) {
              @case ('book') {
                @let book = asBook(item.data);
                <img
                  class="card-media"
                  [src]="book.cover"
                  [alt]="book.title"
                  draggable="false"
                />
                <div class="card-detail">
                  <span class="card-label">{{ book.title }}</span>
                  <span class="card-sub">{{ book.author }}</span>
                  @if (book.rating) {
                    <app-rating [rating]="book.rating"></app-rating>
                  }
                  <a class="card-link" (click)="navigateItem($event, item)">Goodreads &rarr;</a>
                </div>
              }
              @case ('movie') {
                @let movie = asMovie(item.data);
                <app-blueray [poster]="movie.poster"></app-blueray>
                <div class="card-detail">
                  <span class="card-label">{{ movie.title }}</span>
                  <span class="card-sub">{{ movie.year }}</span>
                  <app-rating [rating]="movie.rating"></app-rating>
                  <a class="card-link" (click)="navigateItem($event, item)">Letterboxd &rarr;</a>
                </div>
              }
              @case ('note') {
                @let note = asNote(item.data);
                <div class="note-header">
                  <p class="note-title">{{ prettify(note.name) }}</p>
                  <span class="note-date">{{ formatDate(note.updatedAt) }}</span>
                </div>
                <p class="note-preview">{{ note.preview }}</p>
                <div class="card-detail">
                  <a class="card-link" (click)="navigateItem($event, item)">Read note &rarr;</a>
                </div>
              }
            }
          </div>
        }
      }
    </div>
  </div>
}
