/* settings */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..600&family=Lora&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  border-color: var(--border);
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}

html {
  background-color: var(--background);
}

/* global styles... */
.intro {
  margin-bottom: var(--m-spacing);
}
.intro p {
  margin-bottom: var(--xs-spacing);
}

/* variables */
:root {
  /* colors */
  --black: #000;
  --white: #fff;
  --background: #fafafa;
  --background2: #fff;
  --border: #e4e4e4;
  --elevated: #f2f2f2;
  --text: #1a1a1a;
  --text2: #6e6e6e;
  --link: #0969da;
  --selection: #eee;
  /* typography */
  --heading: 2rem;
  --subheading: 1.25rem;
  --body: 1rem;
  --span: 0.875rem;
  /* weights */
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  /* spacing */
  --xs-spacing: 8px;
  --s-spacing: 16px;
  --m-spacing: 24px;
  --l-spacing: 40px;
  --xl-spacing: 64px;
  --huge-spacing: 8rem;
  /* interactions */
  --squish: cubic-bezier(0.5, -0.1, 0.1, 1.5);
  /* others */
  --radius: 6px;
  --rounded: 50px;

  --transition: all 0.3s ease-in-out;

  --shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
}

/* general styling */
html,
body {
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
}

/* custom text selection color */
::selection {
  background: var(--selection);
}

h1,
h2,
h3,
p {
  color: var(--text);
}
span,
a {
  color: var(--text2);
}

h1 {
  font-size: var(--heading);
  font-weight: var(--semibold);
  margin: 0;
}

h2,
h3 {
  /* since we only use headings and subheadings, the h3 is the same as h2... */
  font-size: var(--subheading);
  font-weight: var(--semibold);
  margin: 0;
}

h3 {
  font-size: var(--subheading);
  font-weight: var(--semibold);
  margin: 0;
}

p {
  font-size: var(--body);
  font-weight: var(--regular);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p,
a {
  font-synthesis: none;
}

.socials {
  display: flex;
  gap: var(--xs-spacing);
  margin-top: var(--s-spacing);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--xs-spacing);
  outline: none;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  background-color: var(--white);
  padding: 12px 16px;
  font-size: 14px;
  transition: 0.4s var(--squish) all;
}

.button:hover {
  cursor: pointer;
  filter: brightness(98%);
}

.button:focus {
  opacity: 0.8;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: var(--xs-spacing);
  margin-top: var(--m-spacing);
}

.grid img {
  width: 100%;
  max-height: 35rem;
  object-fit: cover;
  display: block;
  border-radius: var(--radius);
}

.page-header {
  color: var(--text);
  font-weight: var(--medium);
  font-size: 20px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.page-header span {
  font-size: 18px;
}

.md p {
  margin-bottom: var(--s-spacing);
  line-height: 28px;
  border-radius: 6px;
  padding: 4px var(--xs-spacing);
  background: var(--background2);
}

/* lucide icon styling */
.lucide-icon {
  width: 16px;
  height: 16px;
  color: var(--text2);
}

/* darkmode */
@media (prefers-color-scheme: dark) {
  /* replace color variables with dark variants */
  :root {
    --background: #151515;
    --background2: #1e1e1e;
    --border: #464646;
    --elevated: #2f2f2f;
    --text: #e2e2e2;
    --text2: #b2b2b2;
    --link: #4493f8;
    --selection: #3d3d3d;
  }
}

/* markdown styles */

article p {
  color: var(--text2);
  margin-bottom: var(--s-spacing);
}

article ul {
  list-style-position: inside;
  color: var(--text2);
}

article {
  display: flex;
  flex-direction: column;
  gap: var(--xs-spacing);
}

article h1,
article h2,
article h3 {
  font-size: 18px;
  margin-bottom: var(--m-spacing);
}

/* responsiveness */
@media only screen and (max-width: 600px) {
  header {
    max-width: 100%;
  }
}
