:host {
  background-color: var(--white);
  border: 1px solid var(--stroke);
  border-radius: var(--radius);
  padding: 4px;
  color: var(--kinda-grey);
  display: flex;
  width: fit-content;
  gap: var(--xs-spacing);
  margin-bottom: var(--m-spacing);
}

.link {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 6px 8px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.link:hover {
  cursor: pointer;
  background-color: var(--surface);
  color: var(--black);
}

/* Darkmode */
@media (prefers-color-scheme: dark) {
  :host {
    background-color: var(--almost-black);
    color: var(--kinda-grey);
    border: 1px solid var(--dark-grey);
  }
  :host .link:hover {
    background-color: var(--dark-grey);
    color: var(--almost-white)

  }
}