section.film-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--s-spacing);
}

.film-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--xs-spacing);
  transition: all 0.3s ease-in-out;
}

.film-item:hover {
  cursor: pointer;
  filter: brightness(95%);
  transform: translateY(-2px);
}

/* responsiveness */
@media only screen and (max-width: 660px) {
  section.film-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
