section.film-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: var(--s-spacing);
}

.film-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--xs-spacing);
  transition: all 0.3s ease-in-out;
}

.film-item:hover {
  cursor: pointer;
  filter: brightness(95%);
  transform: translateY(-2px);
}
