<section class="intro">
  <p class="page-header">Movies</p>
  <span>A work in progress of showing my recent Letterboxd activities...</span>
</section>

<section class="film-grid">
  @for (film of films; track film.title) {

  <div class="film-item">
    <!-- <p>{{ film.title }}</p> -->
    <!-- <img [src]="film.poster" alt="{{ film.title }}" class="cover-art" /> -->
    <app-blueray [poster]="film.poster"></app-blueray>
    <app-rating [rating]="film.rating"></app-rating>
    <!-- {{ film.diaryReview }} -->
  </div>

  }
</section>
